body {
  font-family: arial, sans-serif;
}

ul {
  list-style: none;
  padding: 2px;
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
}

h1 {
  font-size: 2.5rem;
  color: rgb(32, 33, 36);
  display: block;
  font-weight: 400px;
  line-height: 26px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 20px auto;
}

.weather-app {
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.today {
  text-align: center;
  padding: 40px 0px 18px 0px;
}

.units {
  font-size: 16px;
  position: relative;
  top: -17px;
  padding-left: 5px;
}

.units a {
  text-decoration: none;
  cursor: default;
}

.units .active {
  color: black;
}

.units .active:hover {
  text-decoration: none;
}

.high-low {
  font-size: 18px;
}

.weather-forecast {
  text-align: center;
  padding: 10px;
  color: #000;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.5;
}
.weather-forecast-temp {
  font-size: 15px;
}

.weather-forecast-temp-high {
  position: relative;
  right: 2px;
}
.weather-forecast-temp-low {
  opacity: 0.5;
  position: relative;
  left: 2px;
}

#icon {
  position: relative;
  top: -18px;
}

#open-source-code a {
  text-decoration: none;
}
