body {
  font-family: arial, sans-serif;
}

ul {
  list-style: none;
  padding: 2px;
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
}

h1 {
  font-size: 3rem;
  color: rgb(32, 33, 36);
  display: block;
  font-weight: 400px;
  line-height: 26px;
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 20px auto;
}

.weather-app {
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.today {
  text-align: center;
  padding: 40px 0px;
}

.units {
  font-size: 16px;
  position: relative;
  top: -22px;
  padding-left: 5px;
}

.units a {
  text-decoration: none;
}

.high-low {
  font-size: 18px;
}

#today-icon {
  color: #f7e000;
  font-size: 100px;
}

.sun-icon,
.cloud-sun-icon,
.sun-rain-icon {
  color: #f7e000;
  font-size: 80px;
}

.six-day {
  text-align: center;
  padding: 10px;
}

.card-temp {
  font-size: 24px;
}
